.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 12px 20px;
  border-radius: var(--border-radius);
  font-family: var(--font-body);
  font-size: 24px;
  font-weight: 400;
  text-decoration: none;
  transition: var(--transition);
  cursor: pointer;
  border: none;
  width: 475px;
  max-width: 100%;
  line-height: 1.2;
  box-shadow: 2.83px 2.83px 7px 1px rgba(18, 18, 18, 0.2);
}

.button--primary {
  background-color: var(--color-primary);
  color: #ffffff;
}

.button--primary:hover {
  background-color: var(--color-primary-hover);
  color: var(--color-primary);
}

.button strong {
  display: block;
  margin: 0;
  padding: 0;
}

@media (max-width: 1024px) {
  .button {
    font-size: 16px;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .button {
    font-size: 19px;
    padding: 12px 15px;
  }
}
